<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image-x/png" href="../static/image/icone.ico">
    <title>WSD - Galeria</title>
    <!-- Tabelas-->
    <link href="../static/css/index.css" rel="stylesheet" />
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <main class="menu-infos">
        <div  class="titulo">
            <h1>Galeria WSD</h1>
        </div>

        <div class="galeria-diaplay">
            <div class="galeria-box">
                <div class="galeria-img">Imagem capturada</div>
                <div class="galeria-info">Informação da imagem capturada</div>
            </div>
            <div class="btn">
                <div class="left"><img src="../static/image/seta-esquerda.png" alt=""></div>
                <div class="right"><img src="../static/image/seta-direita2.png" alt=""></div>
            </div>
        </div>
        

        

    </main>
    {% endblock %}
</body>
</html>