<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image-x/png" href="../static/image/icone.ico">
    <title>WSD - Notificações</title>
    <!-- Tabelas-->
    <link href="../static/css/index.css" rel="stylesheet" />
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <main class="menu-infos">
        <div  class="titulo">
            <h1>Acesso a informações</h1>
        </div>
        <div class="notificacoes-container">
            <div class="notificacoes-container-titulo">
                <h3>Registro de notificações</h3>
                <a href="">Todas notificações</a>
            </div>

            <div class="notificacoes-box"><div class="notificacoes-text">Sistema registrou um funcionário sem EPI</div><div class="notificacoes-hora">18:40</div></div>
            <div class="notificacoes-box"><div class="notificacoes-text">Sistema registrou um funcionário sem EPI</div><div class="notificacoes-hora">18:38</div></div>
            <div class="notificacoes-box"><div class="notificacoes-text">Sistema registrou um funcionário sem EPI</div><div class="notificacoes-hora">18:32</div></div>
            <div class="notificacoes-box"><div class="notificacoes-text">Sistema registrou um funcionário sem EPI</div><div class="notificacoes-hora">18:30</div></div>
            <div class="notificacoes-box"><div class="notificacoes-text">Sistema registrou um funcionário sem EPI</div><div class="notificacoes-hora">18:40</div></div>
            <div class="notificacoes-box"><div class="notificacoes-text">Sistema registrou um funcionário sem EPI</div><div class="notificacoes-hora">18:38</div></div>
            <div class="notificacoes-box"><div class="notificacoes-text">Sistema registrou um funcionário sem EPI</div><div class="notificacoes-hora">18:32</div></div>
            <div class="notificacoes-box"><div class="notificacoes-text">Sistema registrou um funcionário sem EPI</div><div class="notificacoes-hora">18:30</div></div>
        </div>
        <div class="graficos-container">
            <div class="grafico1">
                Grafico 1
            </div>
            <div class="grafico2">
                Grafico 2
            </div>
        </div>

        

    </main>
    {% endblock %}
</body>
</html>