@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
:root{
    --cor-header: #343a40;
    --cor-nav: #212529;
    --cor-linka-padrao: #5a5a5a;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #e5eaef;
}
/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-nav); /* Cor da thumb (a "alça" da barra de rolagem) */
    border-radius: 6px; /* Bordas arredondadas da thumb */
}

::-webkit-scrollbar-track {
    background-color: var(--cor-nav); /* Cor do track (a área de fundo da barra de rolagem) */
    scrollbar-color: var(--cor-nav) #f8f9fc;
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-header);
    padding: 0.9% 2%;
    -webkit-box-shadow: 0px 9px 10px -8px rgba(0,0,0,0.11); 
    box-shadow: 0px 9px 10px -8px rgba(0,0,0,0.11);
    position: absolute ;
    top: 0;
    left: 0;
    z-index: 999;
}
header .header-info{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}
.logo{
    width: auto;
    height: 100%;
}
header .logo a{
    height: 100%;
}
header .logo a img{
    height: 100%;
}
.header-info img{
    cursor: pointer;
    height: 100%;
}
header .header-perfil{
    display: flex;
    align-items: center;
    height: auto;
    gap: 15px;
}
header .header-perfil h6{
    color: white;
    font-size: 15px;
    height: 100%;
    font-weight: normal;
    text-transform: capitalize;
}
header .header-perfil form{
    width: 20px;
    height: 20px;
}
header .header-perfil form button img{
    width: 100%;
    height: 100%;
}
.menu ul{
    width: 100%;
}
.menu ul ul{
    width: 100%;
    
}
.infos{
    width: 100%;
    height: auto;
    background-color: #e5eaef;
}
.menu a{
    color: var(--cor-linka-padrao);
    font-size: 15px;
    font-weight: 500;
    transition: linear 200ms;
    width: 100%;
}
.menu h3{
    font-size: 12px;
    font-weight: bold;
    color: var(--cor-linka-padrao);
    text-transform: uppercase;
}
.menu-box li{
    padding: 15px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-box li div{
    width: 100%;
    display: flex;
    align-items: center;
}
.menu-box li div img{
    margin-right: 10px;
}
.menu-box li:hover a{
    color: white;
}
.iconeimg{
    width: 16px;
    height: 16px;
}
.setaimg{
    width: 12px;
    height: 12px;
}
.menu-a1{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 10vh;
    align-items: stretch;
}
.menu{
    width: 50%;
    max-width: 260px;
    height: 90vh;
    background-color: var(--cor-nav);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
main{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    
}
.menu-infos{
    padding: 2%;
}
.notificacoes-container{
    width: 100%;
    height: 40vh;
    overflow-y: scroll;
    border: 1px solid #ddd;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.19); 
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.19);
}
.notificacoes-container::-webkit-scrollbar {
    width: 8px; /* Largura do scrollbar */
    height: 8px; /* Altura do scrollbar */
}

.notificacoes-container::-webkit-scrollbar-thumb {
    background-color: var(--cor-nav); /* Cor do thumb (a parte do scrollbar que o usuário arrasta) */
    border-radius: 4px; /* Raio da borda do thumb */
}

.notificacoes-container::-webkit-scrollbar-track {
    background-color: #ddd; /* Cor do track (a parte do scrollbar que não é preenchida pelo thumb) */
    border-radius: 4px; /* Raio da borda do track */
}

.notificacoes-container h3, .solicitacao-box h2{
    font-weight: bold;
    font-size: 16px;
    color: white;
}
.notificacoes-container-titulo{
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c06e3e;
    margin-bottom: 8px;
}
.notificacoes-container-titulo a{
    color: white;
    font-size: 13px;
    text-decoration: underline;
}
.notificacoes-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    margin-bottom: 8px;
    background-color: white;
}
.notificacoes-box:hover{
    background-color: #f5f5f5;
}
.notificacoes-text{
    font-size: 15px;
}
.notificacoes-hora{
    font-size: 15px;
    font-weight: bold;
}
.titulo{
    padding-bottom: 20px;
    font-size: 14px;
}
.graficos-container{
    margin-top: 15px;
    width: 100%;
    height: 31vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}
.grafico1, .grafico2{
    width: 49%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grafico1{
    background-color: rgb(206, 155, 155);

}
.grafico2{
    background-color: rgb(140, 241, 140);
}
.solicitacao-box{
    border: 1px solid #ddd;
    border-radius: 5px;
}
.solicitacao-box h2{
    background-color: #c06e3e;
    padding: 1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 8px;
}
.visualizar-cadastros{
    padding: 1%;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.excluir-btn{
    background-color: rgb(180, 0, 0);
}
.online-circule{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: rgb(153, 255, 0);
    border: 1px solid rgb(172, 171, 171);
}
.titulo2{
    display: flex;
    align-items: center;
    gap: 10px;
}
.janela-display{
    width: 100%;
    height: 73vh;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.19); 
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.19);
}
.titulo3{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    gap: 10px;
}
#openCamera, #closeCamera{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #c06e3e;
    color: white;
    cursor: pointer;
    transition: linear 200ms;
}
.janela-display video{
    border-radius: 5px;
}
#closeCamera{
    background-color: #212529;
}
#openCamera:hover, #closeCamera:hover{
    background-color: #212529;
}
.galeria-diaplay{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 74vh;
    background-color: white;
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.19); 
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.19);
}
.btn{
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.left,.right{
    width: 38px;
    height: 38px;
    border: 1px solid #c06e3e;
    background-color: #c06e3e;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.galeria-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.galeria-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.galeria-info{
    width: 100%;
    height: auto;
    background-color: #b6b6b6;
    text-align: center;
    padding: 5px 0;
}
/*TABELA CONFIG*/
#aprovadas-table , #usuarios-table{
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
    width: 100%; /* Garante que a tabela ocupe 100% da largura do contêiner pai */
    border-collapse: collapse;
    margin-top: 10px; /* Ajuste conforme necessário */
    text-transform: capitalize;
}
/* Estilo para as células do cabeçalho da tabela */
#aprovadas-table th, #usuarios-table th{
    background-color: #f2f2f2; /* Cor de fundo para o cabeçalho */
    padding: 10px;
    font-size: 13px;
}
/* Estilo para as células do corpo da tabela */
#aprovadas-table td, #usuarios-table td{
    font-size: 13px;
    border-bottom: 1px solid #ddd; /* Linha de divisão entre as células */
}
/* Estilo para as linhas pares da tabela */
 #aprovadas-table tr:nth-child(even),  #usuarios-table tr:nth-child(even){
    background-color: #f9f9f9; /* Cor de fundo para linhas pares */
}
/* Estilo para as células da última coluna (Baixar e Aprovar) */
#aprovadas-table td:nth-last-child(2),#aprovadas-table td:last-child, #usuarios-table td:nth-last-child(2),#usuarios-table td:last-child{
    text-align: center;
}
#aprovadas-table_length, #usuarios-table_length{
    display: none;
}
#aprovadas-table_filter, #usuarios-table_filter{
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
    border-radius: 5px;
    background-color: #eef2f8;   
}
th, td {
    border: 1px solid #ddd;
    text-align: center;
}
#usuarios-table td{
    padding: 1% 0;
}
#redefinir-table td{
    padding: 2% 0;
}
table tbody button{
    background-color: var(--cor-header);
        color: #fff;
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        transition: linear 200ms;
}
table tbody button:hover{
    background-color: var(--cor-nav);
    transition: 250ms;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: left; /* Alinha o campo à direita */
    width: 100%;
    margin-top: 5px;
}
div.dataTables_wrapper div.dataTables_filter input {
    width: 100%; /* Largura de 100% */
    padding-left: 5px; /* Preenchimento interno */
    border: 0;/* Borda do campo de pesquisa */
    border-radius: 4px; /* Borda arredondada */
    box-sizing: border-box; /* Garante que a largura inclui o preenchimento e a borda */
    height: 40px;
    font-size: 18px;
    outline: 0;
    background-color: #eef2f8;

}
.sorting_1{
    background-color: #fff;
}
/*gerar relatorios*/
.relarorio-container{
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.relatorio-box{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    height: 140px;
    -webkit-box-shadow: 0px 0px 9px -4px rgba(0,0,0,0.48); 
    box-shadow: 0px 0px 9px -4px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.19); 
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.19);
}
.relatorio-box-img{
    height: 100%;
    padding: 0 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.relatorio-box:nth-child(1) .relatorio-box-img{
    background-color: #c06e3e;
}
.relatorio-box:nth-child(1) .relatorio-box-info h4{
    color: #c06e3e;
}
.relatorio-box:nth-child(1) .relatorio-box-info a{
    background-color: #c06e3e;
}
.relatorio-box:nth-child(2) .relatorio-box-img{
    background-color: #f1b175;
}
.relatorio-box:nth-child(2) .relatorio-box-info h4{
    color: #f1b175;
}
.relatorio-box:nth-child(2) .relatorio-box-info a{
    background-color: #f1b175;
}
.relatorio-box:nth-child(3) .relatorio-box-img{
    background-color: #691f3a;
}
.relatorio-box:nth-child(3) .relatorio-box-info h4{
    color: #691f3a;
}
.relatorio-box:nth-child(3) .relatorio-box-info a{
    background-color: #691f3a;
}
.relatorio-box .relatorio-box-info a{
    transition: linear 300ms;
}
.relatorio-box .relatorio-box-info a:hover{
    background-color: var(--cor-nav);
}
.relatorio-box-info{
    width: 85%;
    padding-left: 2%;
}
.relatorio-box-info p{
    margin: 10px 0;
    font-size: 14px;
    color: black;
}
.relatorio-box-info h4{
    color: var(--cor-header);
    font-size: 16px;
}
.relatorio-box-info a{
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: var(--cor-header);
    font-size: 13px;
}
/*usuarios*/
.usuarios-container{
    width: 98%;
    height: auto;
    background-color: #ffffff;
    margin: 10px auto;
    padding: 2%;
    border-radius: 5px;
}
.usuarios-container h2{
    font-size: 17px;
}
/*redefinir*/
.usuarios-container a{
    border: 0;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: #0061f2;
    font-size: 13px;
}
.visualizar-cadastros H2{
    font-size: 16px;
}


@media screen and (max-width: 830px) {
    .container{
        min-height: 100vh;
        position: relative;
    }
    .menu{
        position: absolute;
        top: 10vh;
        left: 0;
        width: 50%;
        z-index: 998;
    }
}